.header-sticky {
  .header {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--DarkGreen);
    color: var(--White);
  }
  .logotype__name {
    font-size: 32px;
  }

  @media (max-width: 1023px) {
    .logotype__name {
      font-size: 30px;
    }
  }
  @media (max-width: 767px) {
    .header {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .logotype__name {
      font-size: 24px;
    }
  }
}
