.about {
  background-color: var(--color-white);
  &__list {
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px 32px;
  }
  &__item {
    display: grid;
    gap: 22px;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  &__text {
    margin: 0;
    margin-bottom: 6px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    color: var(--color-dark);
  }
  &__document-list {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(1, 1fr);
  }
  &__details-list {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;
  }
  &__details-image {
    display: block;
    max-width: 328px;
    width: 100%;
    margin-bottom: 30px;
    transition: all 0.3s;
  }
  .section__grid {
    margin-bottom: 80px;
  }
  .text-and-button__grid {
    grid-template-columns: 300px auto;
  }
  .subtitle {
    margin-bottom: 26px;
  }
  p:first-of-type {
    margin-top: 0;
  }

  &__details-item {
    &:hover {
      .about__details-image {
        scale: 1.1;
      }
    }
  }

  @media (max-width: 1500px) {
    padding-bottom: 195px;
    padding-top: 90px;
    &__details-list {
      grid-template-columns: repeat(1, 1fr);
      gap: 43px;
    }
    &__details-item {
      display: grid;
      gap: 72px;
      grid-template-columns: 328px 1fr;
    }

    .section__grid {
      margin-bottom: 90px;
      gap: 78px;
    }

    .section__item-right {
      order: 1;
    }
    .section__item-left {
      order: 2;
    }
    .subtitle {
      margin-bottom: 12px;
    }
  }
  @media (max-width: 1023px) {
    padding-top: 105px;

    .section__grid {
      gap: 72px;
    }
  }

  @media (max-width: 767px) {
    padding-bottom: 90px;
    padding-top: 50px;
    &__list {
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
      margin-bottom: 36px;
    }
    &__details-item {
      grid-template-columns: 1fr;
      gap: 0;
    }
    &__document-list {
      gap: 15px;
  }
    .text-and-button__grid {
      grid-template-columns: 1fr;
    }
    .section__grid {
      gap: 45px;
      margin-bottom: 55px;
    }
  }
}
