.advantages {
  &__list {
    display: grid;
    gap: 55px;
    grid-template-columns: repeat(1, 1fr);
  }
  &__list-item {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr auto;

    &:nth-child(2n) {
      grid-template-columns: auto 1fr;
      .advantages__list-icon {
        order: 2;
      }
    }
  }
  &__feedback {
    max-width: 448px;
    margin-left: auto;
  }

  .subtitle {
    font-size: 20px;
    margin-bottom: 7px;
  }
  @media (max-width: 1500px) {
    padding-top: 55px;
  }
  @media (max-width: 1023px) {
    padding-bottom: 100px;
    #composition-static-1 {
      display: none;
    }
    .section__grid {
      grid-template-columns: 1fr;
    }
    .section__item-left {
      grid-column: initial;
    }
    .section__item-right {
      grid-column: initial;
    }
    &__feedback {
      max-width: 100%;
    }
  }
  @media (max-width: 767px) {
    &__list {
      gap: 32px;
    }
    &__list-item {
      grid-template-columns: 1fr !important;
    }
    .advantages__list-icon {
      order: initial !important;
  }
  }
}
