.contacts {
  background-color: var(--color-pastel);
  padding-bottom: 0;
  &__list {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(1, 1fr);
  }

  &__item {
    display: grid;
    gap: 16px;
    grid-template-columns: auto 1fr;
    align-items: flex-start;
    svg {
      width: 24px;
      height: 24px;
    }

    a {
      color: var(--color-green);
      text-decoration: underline;
    }
    a[href^="tel:"] {
      font-weight: 700;
      text-decoration: none;
      color: var(--color-dark);
    }
  }
  .map {
    margin-left: auto;
  }

  .section__grid {
    margin-bottom: -10px;
  }

  @media (max-width: 1500px) {
    .section__item-right {
      order: 1;
    }
    .section__item-left {
      order: 2;
    }
    .map {
      width: 100%;
      max-width: 768px;
      margin: 0 auto;
    }
    .map__content {
      width: 100%;
      max-width: 768px;
      margin: 0 auto;
    }
    &__list {
      margin-bottom: 70px;
    }
  }
}
