.delivery-methods {
  background-color: var(--color-beige);
  padding-bottom: 325px;


  .section__item-right {
    position: relative;
    z-index: 2;
  }

  .section__grid {
    align-items: center;
  }

  @media (max-width: 1500px) {
    padding-top: 168px;
    padding-bottom: 185px;

    .section__grid {
      gap: 230px;
    }
  }

  @media (max-width: 1023px) {
    .section__grid {
      gap: 195px;
    }
  }

  @media (max-width: 767px) {
    padding-bottom: 145px;
    padding-top: 60px;

    .section__grid {
      gap: 115px;
    }
  }
}
