.documents {
  background-color: var(--color-pearl);
  max-width: 100%;
  &__list {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
  }
  .section__item-right {
    position: relative;
    z-index: 20;
  }
}
