.header {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: transparent;
  position: fixed;
  top: 0;
  max-width: 100%;
  width: 100%;
  z-index: 999;
  transition: all 0.4s;

  &__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: auto 1fr;
    position: relative;
    z-index: 999;
  }
  &__flex {
    display: grid;
    align-items: center;
    gap: 16px;
    grid-template-columns: auto auto auto;
    max-width: max-content;
    margin-left: auto;
  }
  &__contacts {
    margin: 0;
    text-align: right;
    color: var(--White, #fff);
    font-size: 13px;
    max-width: 220px;
    a {
      display: block;
      color: inherit;
      text-align: right;
      font-family: var(--TenorSans);
      font-size: 24px;
      line-height: 1.33;
      text-decoration: none;
    }
  }
  .button-menu {
    margin-left: 16px;
  }
  @media (max-width: 1200px) {
    .button-menu {
      margin-left: 0;
    }
  }
  @media (max-width: 1023px) {
    padding-top: 43px;
    padding-bottom: 43px;
    &__grid {
      gap: 29px;
      grid-template-columns: auto 1fr;
    }
    &__contacts {
      a {
        font-size: 20px;
      }
    }
  }

  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
    &__grid {
      gap: 29px;
      // grid-template-columns: 1fr auto;
    }
    &__contacts {
      display: none;
    }
    &__social {
      display: none;
    }
    &__flex {
      display: block;
    }
  }
}
