.invite-to-cooperate {
  background-color: var(--color-white);
  padding-top: 115px;
  padding-bottom: 380px;

  &__text {
    margin-bottom: 34px;
  }

  .section__item-right {
    margin-bottom: -145px;
  }

  @media (max-width: 1500px) {
    padding-bottom: 190px;
    max-width: 100%;
    overflow-x: hidden;
    .section__item-left {
      order: 2;
    }
    .section__item-right {
      order: 1;
      margin-bottom: 0;
    }
    .form__item:has(.button) {
      margin-top: 0;
  }
  }

}
