.invite-to-cooperate {
  background-color: var(--color-white);
  padding-top: 115px;
  padding-bottom: 380px;

  &__text {
    margin-bottom: 34px;
  }

  @media (max-width: 1500px) {
    padding-bottom: 190px;
    max-width: 100%;

    .section__item-left {
      order: 2;
    }
    .section__item-right {
      order: 1;
      margin-bottom: 0;
    }
    .form__item:has(.button) {
      margin-top: 0;
    }
  }

  @media (max-width: 767px) {
    padding-bottom: 90px;
    .form__grid {
      gap: 20px;
      grid-template-columns: repeat(1, 1fr);
    }
    &__text {
      margin-bottom: 22px;
      font-size: 14px;
    }
  }
}
