.reasons {
  max-width: 100%;
  overflow: hidden;
  .benefits-list {
    margin-bottom: 63px;
    gap: 42px;
  }
  &__benefits-list {
    margin-bottom: 63px;
  }
  .wawe {
    z-index: -1;
  }

  @media (max-width: 1500px) {
    padding-top: 150px !important;
    // overflow: initial;
    &__grid {
      grid-template-columns: 1fr;
      gap: 190px;
    }
    &__benefits {
      position: relative;
      right: initial;
      max-width: max-content;
      margin: 0 auto;
      margin-right: 10%;
    }
    .reasons__grid-item {
      order: 2;
      position: relative;
      z-index: 2;
    }
    .section__item-left {
      order: 1;
    }
    &__benefits-list {
      margin-bottom: 50px;
    }
  }
  @media (max-width: 1023px) {
    &__benefits {
      margin-right: auto;
    }
    &__grid {
      gap: 170px;
    }
    &__benefits-list {
      margin-bottom: 62px;
    }
  }
  @media (max-width: 767px) {
    padding-top: 420px !important;
    &__grid {
      gap: 88px;
    }
    &__benefits {
      max-width: 100%;
    }
    &__benefits-list {
      margin-bottom: 25px;
    }
  }
}
