@mixin fluid-text($max: 48, $min: 16) {
  font-size: clamp(#{$min}px, #{$max / 1440 * 100}vw, #{$max}px);
}

// Пример использования миксина для текстового блока
// .text-block {
//   @include fluid-text(24, 16);
//   line-height: 1.5;
// }

@mixin reset-link {
  color: inherit;

  &,
  &:hover {
    text-decoration: none;
  }
}
// Пример использования миксина для ссылки
// .link {
//   @include reset-link;
// }

@mixin reset-button {
  padding: 0;
  background-color: transparent;
  border: none;
}
// .button {
  //   @include reset-button;
  // }

@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else  {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin square($size) {
  width: $size;
  aspect-ratio: 1;
}
