// Глобальные переменные проекта
:root {
  --Lora: "Lora", serif;
  --TenorSans: "Tenor Sans", sans-serif;
  // Цвета
  // color-white
  --White: #ffffff;
  // color-dark
  --Dark: #36363c;
  // color-dark-02
  --Dark-mod: rgba(54, 54, 60, 0.2);
  // color-dark-08
  --Dark-mod2: rgba(54, 54, 60, 0.8);
  // color-light
  --LightGreen: #f3edd3;
  // color-orange
  --Orange: #f59829;
  // color-red
  --Red: #ff5843;
  // color-green
  --DarkGreen: #007364;
  // color-bg
  --Bg: #e9e7e2;
}
