:root {
  --Lora: 'Lora', serif;
  --TenorSans: 'Tenor Sans', sans-serif;

  --White: #ffffff;

  --Dark: #36363C;
  --Dark-mod: rgba(54, 54, 60, 0.2);
  --Dark-mod2: rgba(54, 54, 60, 0.8);

  --LightGreen: #F3EDD3;

  --Orange: #F59829;
  --Red: #FF5843;
  --DarkGreen: #007364;
  --Bg: #E9E7E2;

}
