.button {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  outline: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  max-width: max-content;
  border: none;
  background-color: transparent;
  padding: 10px 24px;
  font-family: var(--Lora);
  font-style: normal;
  line-height: 1;
  color: var(--White, #fff);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.14px;
  text-transform: uppercase;
  height: 56px;

  span {
    position: relative;
    z-index: 2;
  }
  svg path {
    transition: stroke 0.3s;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    z-index: 0;
    border-radius: 32px;
    background-color: var(--Orange, #f59829);
  }

  &__icon {
    background-color: var(--White);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 12px;
    pointer-events: none;
    margin-left: -8px;
    color: var(--Orange, #f59829);
    transition: all 0.3s;
    flex-shrink: 0;

    svg {
      width: 16px;

    }
  }

  &:hover,
  &:active,
  &:focus {
    &::before {
      background-color: var(--Red, #ff5843);
      left: -4px;
      top: -4px;
      bottom: -4px;
      right: -4px;
    }

    .button__icon {
      color: var(--Red, #ff5843);
    }
  }

  // модификаторы
  &--full {
    max-width: 100%;
    width: 100%;
    justify-content: center;
  }

  &--green {
    &::before {
      background-color: var(--DarkGreen, #007364);
    }
    .button__icon {
      color: var(--DarkGreen, #007364);
    }
    &:hover,
    &:active,
    &:focus {
      &::before {
        background-color: var(--Red, #ff5843);
      }
      .button__icon {
        color: var(--Red, #ff5843);
      }
    }
  }

  &--red {
    &::before {
      background-color: var(--Red, #ff5843);
    }
    .button__icon {
      color: var(--Red, #ff5843);
    }

    &:hover,
    &:active,
    &:focus {
      &::before {
        background-color: var(--Orange, #f59829);
      }
      .button__icon {
        color: var(--Orange, #f59829);
      }
    }
  }

  @media (max-width: 767px) {
    height: 45px;
  }
}


