.composition {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  &__image {
    display: block;
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    pointer-events: none;
  }
  &__bg {
    position: absolute;
    z-index: 1;
    flex-shrink: 0;
    pointer-events: none;
  }
  &__branch {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    pointer-events: none;
    height: max-content;
  }
}

.composition-static {
  pointer-events: none;
}

#composition-static-1 {
  position: absolute;
  top: -185px;
  right: 0;
  .composition-static__inner {
    width: 749px;
  }
}

#composition-1 {
  .composition__main-group {
    position: relative;
  }
  .composition__bg {
    width: 688px;
    left: 0;
  }
  .composition__image {
    width: 768px;
    display: block;
    margin-left: auto;
    transform: translateX(120px);
  }

  .composition__branch {
    bottom: 140px;
    right: -200px;
  }

  .composition__branch-inner {
    width: 980px;
  }
}

#composition-2 {
  .composition__main-group {
    position: relative;
  }

  .composition__image {
    width: 633px;
    transform: translateX(-95px);
    z-index: 2;
  }
  .composition__bg {
    width: 809px;
    right: 20px;
    bottom: -190px;
  }
  .composition__branch {
    top: -445px;
    right: 35px;
  }
  .composition__branch-inner {
    width: 672px;
  }
}

#composition-3 {
  .composition__main-group {
    position: initial;
  }

  .composition__image {
    width: 688px;
  }
  .composition__bg {
    width: 688px;
    transform: translate(35px, -35px);
  }
  .composition__branch {
    top: -278px;
    right: 0;
  }
  .composition__branch-inner {
    width: 447px;
  }
}
#composition-4 {
  .composition__main-group {
    position: relative;
  }
  .composition__image {
    width: 688px;
    transform: translate(-120px, 0);
  }
  .composition__bg {
    width: 689px;
    // transform: translate(120px, 185px);
    transform: translate(0, 185px);
  }
}

#composition-5 {
  transform: translate(0, -35px);
  position: absolute;
  right: 0;
  top: 0;
  .composition__bg {
    width: 523px;
    transform: translate(-210px, -40px);
  }
  .composition__image {
    width: 688px;
    transform: translate(-130px, 0);
  }
  .composition__branch {
    top: -100px;
    right: 0;
    overflow: hidden;
  }
  .composition__branch-inner {
    width: 518px;
    transform: translate(50px, -0);
  }
}

@media (max-width: 1500px) {
  #composition-1 {
    position: relative;
    .composition__image {
      width: 688px;
      transform: translateX(40px);
    }
    .composition__bg {
      width: 616px;
      left: -40px;
    }
    .composition__branch {
      bottom: -245px;
      right: -240px;
    }
  }

  #composition-2 {
    .composition__image {
      transform: translateX(20px);
    }
    .composition__bg {
      width: 809px;
      left: -80px;
      right: initial;
      bottom: initial;
      top: -80px;
    }
    .composition__branch {
      top: -280px;
      right: -80px;
    }
    .composition__branch-inner {
      width: 650px;
    }
  }

  #composition-3 {
    .composition__main-group {
      position: initial;
    }

    .composition__image {
      transform: initial;
    }
    .composition__bg {
      transform: translate(-85px, -35px);
    }
    .composition__branch {
      transform: initial;
      right: 0;
      overflow: hidden;
      top: -200px;
    }
    .composition__branch-inner {
      transform: translateX(-40px);
    }
  }

  #composition-4 {
    transform: translate(0, -145px);
    margin-bottom: -115px;
    .composition__image {
      transform: translate(-30px, 0);
    }
    .composition__bg {
      transform: translate(80px, 185px);
    }
  }
  #composition-5 {
    position: relative;
    // overflow: initial;
    transform: translate(0, -225px);
    margin-bottom: 20px;

    .composition__image {
      transform: translate(40px, 175px);
    }
    .composition__bg {
      transform: translate(-40px, 125px);
    }
    .composition__branch {
      top: 0;
      right: -48px;
    }
  }

  #composition-static-1 {
    overflow-x: hidden;
    top: -105px;
    .composition-static__inner {
      width: 780px;
      transform: translateX(430px);
    }
  }
}

@media (max-width: 1023px) {
  #composition-1 {
    .composition__image {
      width: 616px;
      transform: initial;
    }
    .composition__bg {
      left: -70px;
    }
    .composition__branch {
      bottom: -165px;
    }
    .composition__branch-inner {
      width: 790px;
    }
  }
  #composition-2 {
    .composition__image {
      width: 540px;
    }
    .composition__bg {
      width: 690px;
    }
    .composition__branch {
      top: -255px;
      right: 0;
      transform: translateX(66px);
    }
    .composition__branch-inner {
      width: 565px;
    }
  }
  #composition-3 {
    .composition__main-group {
    }

    .composition__image {
      width: 616px;
      transform: translateX(35px);
    }
    .composition__bg {
      width: 616px;
      transform: translate(-35px, -65px);
    }
    .composition__branch {
      top: -80px;
    }
    .composition__branch-inner {
      transform: translateX(70px);
      width: 400px;
    }
  }
  #composition-4 {
    transform: translate(0, -110px);
    margin-bottom: -70px;
    .composition__image {
      transform: translate(-50px, 0);
      width: 586px;
    }
    .composition__bg {
      transform: translate(55px, 160px);
      width: 586px;
    }
  }
  #composition-5 {
    position: relative;
    transform: translate(0, -200px);
    margin-bottom: 40px;

    .composition__image {
      width: 617px;
      transform: translate(35px, 165px);
    }
    .composition__bg {
      transform: translate(-35px, 125px);
      width: 478px;
    }
    .composition__branch {
      top: 0;
      right: -40px;
    }
    .composition__branch-inner {
      width: 465px;
      transform: translate(115px, 0);
    }
  }
}

@media (max-width: 767px) {
  #composition-1 {
    .composition__image {
      width: 300px;
    }
    .composition__bg {
      left: -20px;
      width: 301px;
    }
    .composition__branch-inner {
      width: 545px;
    }
  }

  #composition-2 {
    .composition__image {
      width: 262px;
    }
    .composition__bg {
      width: 336px;
      left: initial;
      transform: translateX(-30px);
      top: -35px;
    }
    .composition__branch-inner {
      width: 285px;
    }
    .composition__branch {
      top: -120px;
      transform: translateX(55px);
    }
  }

  #composition-3 {

    .composition__image {
      width: 300px;
      transform: translateX(18px);
    }
    .composition__bg {
      width: 300px;
      transform: translate(-17px, -20px);
    }
    .composition__branch {
      top: -40px;
    }
    .composition__branch-inner {
      transform: translateX(48px);
      width: 195px;
    }
  }
  #composition-4 {
    transform: translate(0, -70px);
    margin-bottom: -40px;
    .composition__image {
      transform: translate(-25px, 0);
      width: 285px;
    }
    .composition__bg {
      transform: translate(25px, 80px);
      width: 286px;
    }
  }
  #composition-5 {
    position: relative;
    transform: translate(0, -160px);
    margin-bottom: -30px;

    .composition__image {
      width: 300px;
      transform: translate(15px, 90px);
    }
    .composition__bg {
      transform: translate(-320px, 70px);
      width: 233px;
    }
    .composition__branch {
      top: 0;
      right: -20px;
    }
    .composition__branch-inner {
      width: 226px;
      transform: translate(55px, 0);
    }
  }
}

// #composition-2 {
//   width: 870px;
//   height: 1045px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   top: -115px;
//   left: 60px;

//   .composition__bg {
//     top: 290px;
//     left: 15px;
//   }
//   .composition__image {
//   }

//   .composition__branch {
//     top: -95px;
//     right: 55px;
//   }
// }

// #composition-3 {
//   width: 895px;
//   height: 811px;
//   top: -260px;
//   right: 0;
//   overflow: hidden;
//   .composition__image {
//     z-index: 2;
//     top: 285px;
//     left: 75px;
//   }
//   .composition__branch {
//     top: 0;
//     right: 0;
//   }
//   .composition__bg {
//     left: 0;
//     top: 250px;
//   }
// }

// #composition-static {
//   position: absolute;
//   width: 944px;
//   height: 1226px;
//   right: 0;
//   top: -265px;
//   pointer-events: none;
//   overflow: hidden;
//   z-index: 0;
// }

// #composition-static-2 {
//   position: absolute;
//   width: 864px;
//   height: 800px;
//   right: 0;
//   top: -295px;
//   pointer-events: none;
//   overflow: hidden;
//   z-index: 3;
//   .composition__branch {
//     // top: 0;
//     right: -55px;
//   }
// }

// #composition-4 {
//   width: 808px;
//   height: 996px;
//   left: 65px;
//   top: 15px;

//   .composition__bg {
//     bottom: 95px;
//     left: 180px;
//   }
//   .composition__image {
//   }
// }

// #composition-5 {
//   width: 942px;
//   height: 838px;
//   top: -90px;
//   right: 0;
//   left: auto;

//   .composition__image {
//   }

//   .composition__branch {
//     top: -50px;
//     right: -45px;
//   }
//   .composition__bg {
//     left: 50px;
//     top: 0;
//   }
// }

// #composition-6 {
//   width: 970px;
//   height: 980px;
//   overflow: hidden;
//   top: -75px;
//   left: 0;
//   .composition__image {
//     left: -10px;
//     z-index: 2;
//     top: 120px;
//   }

//   .composition__branch {
//     left: -260px;
//     top: 0;
//   }

//   .composition__bg {
//     right: 75px;
//     top: 105px;
//   }
// }

// @media (max-width: 1500px) {
//   .composition {
//     position: relative;
//     top: initial !important;
//     left: initial !important;
//     right: initial !important;
//     bottom: initial !important;
//     margin: 0 auto;
//     overflow: hidden;
//   }
//   #composition-1 {
//     width: 768px;
//     height: 940px;
//     // right: initial !important;
//     // top: initial !important;
//     overflow: initial;
//     margin-top: -120px;
//     margin-bottom: 120px;

//     .composition__image {
//       top: 50px;
//       left: 80px;
//     }

//     .composition__bg {
//       bottom: initial;
//       top: 30px;
//       right: auto;
//     }

//     .composition__branch {
//       bottom: -180px;
//       right: -300px;
//     }
//   }
//   #composition-2 {
//     width: 870px;
//     height: 790px;
//     margin-top: -150px;

//     .composition__image {
//       top: 190px;
//       left: 135px;
//     }
//     .composition__bg {
//       top: 105px;
//       left: 30px;
//     }
//   }
//   #composition-3 {
//     width: 895px;
//     height: 731px;
//     margin-top: -140px;
//     margin-right: 0;
//     overflow: visible;
//     margin-bottom: 70px;

//     .composition__image {
//       top: 210px;
//       left: 120px;
//       right: initial;
//       bottom: initial;
//     }
//     .composition__bg {
//       left: 30px;
//       right: initial;
//       bottom: initial;
//       top: 165px;
//     }
//     .composition__branch {
//       left: initial;
//       top: 5px;
//       right: -35px;
//       bottom: initial;
//     }
//   }
//   #composition-4 {
//     width: 808px;
//     height: 966px;
//     margin-top: -150px;
//     overflow: visible;
//     margin-bottom: 40px;
//   }
//   #composition-5 {
//     width: 886px;
//     height: 918px;
//     margin-top: -230px;
//     margin-bottom: 75px;
//     overflow: visible;
//     .composition__image {
//       top: 175px;
//       left: 140px;
//     }
//     .composition__branch {
//       top: 0;
//       right: -115px;
//     }
//     .composition__bg {
//       left: 60px;
//       top: 135px;
//   }
//   }
//   #composition-6 {
//     width: 968px;
//     height: 980px;
//     margin-top: -140px;
//     margin-bottom: -100px;
//     overflow: visible;
//     .composition__image {
//       left: -45px !important;
//       top: 185px;
//     }
//     .composition__bg {
//       right: 110px;
//       top: 185px;
//   }
//   }

//   #composition-static {
//     top: 0 !important;
//     right: 0 !important;
//     svg {
//       right: -500px !important;
//       position: absolute;
//       top: -330px;
//     }
//   }
//   #composition-static-2 {
//     top: -185px !important;
//     right: 0 !important;

//     .composition__branch {
//       right: -105px;
//     }
//   }
// }
