.composition {
  position: absolute;
  width: 688px;
  height: 688px;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
  &__bg {
    position: absolute;
  }
  &__image {
    position: absolute;
    display: block;
    max-width: initial;
  }
  &__branch {
    position: absolute;
  }
}

#composition-1 {
  width: 770px;
  height: 1309px;
  right: 85px;
  top: -200px;
  .composition__bg {
    bottom: 135px;
    left: 0;
  }
  .composition__image {
  }

  .composition__branch {
    bottom: -230px;
    right: -240px;
  }
}

#composition-2 {
  width: 870px;
  height: 1045px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -115px;
  left: 60px;

  .composition__bg {
    top: 290px;
    left: 15px;
  }
  .composition__image {
  }

  .composition__branch {
    top: -95px;
    right: 55px;
  }
}

#composition-3 {
  width: 895px;
  height: 811px;
  top: -260px;
  right: 0;
  overflow: hidden;
  .composition__image {
    z-index: 2;
    top: 285px;
    left: 75px;
  }
  .composition__branch {
    top: 0;
    right: 0;
  }
  .composition__bg {
    left: 0;
    top: 250px;
  }
}

#composition-static {
  position: absolute;
  width: 944px;
  height: 1226px;
  right: 0;
  top: -265px;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
}

#composition-static-2 {
  position: absolute;
  width: 864px;
  height: 800px;
  right: 0;
  top: -295px;
  pointer-events: none;
  overflow: hidden;
  z-index: 3;
  .composition__branch {
    // top: 0;
    right: -55px;
  }
}

#composition-4 {
  width: 808px;
  height: 996px;
  left: 65px;
  top: 15px;

  .composition__bg {
    bottom: 95px;
    left: 180px;
  }
  .composition__image {
  }
}

#composition-5 {
  width: 942px;
  height: 838px;
  top: -90px;
  right: 0;
  left: auto;

  .composition__image {
  }

  .composition__branch {
    top: -50px;
    right: -45px;
  }
  .composition__bg {
    left: 50px;
    top: 0;
  }
}

#composition-6 {
  width: 970px;
  height: 980px;
  overflow: hidden;
  top: -75px;
  left: 0;
  .composition__image {
    left: -10px;
    z-index: 2;
    top: 120px;
  }

  .composition__branch {
    left: -260px;
    top: 0;
  }

  .composition__bg {
    right: 75px;
    top: 105px;
  }
}

@media (max-width: 1500px) {
  .composition {
    position: relative;
    top: initial !important;
    left: initial !important;
    right: initial !important;
    bottom: initial !important;
    margin: 0 auto;
    overflow: hidden;
  }
  #composition-1 {
    width: 768px;
    height: 940px;
    right: 40px !important;
    top: -150px !important;
    overflow: initial;

    .composition__image {
    }

    .composition__bg {
      bottom: initial;
      top: 30px;
      right: auto;
    }

    .composition__branch {
      bottom: -180px;
      right: -300px;
    }
  }
  #composition-2 {
    width: 870px;
    height: 867px;
  }
  #composition-3 {
    width: 895px;
    height: 731px;
    margin-top: -148px;
    margin-right: 0;
    overflow: visible;

    .composition__image {
      top: initial;
      left: initial;
      right: initial;
      bottom: initial;
    }
    .composition__bg {
      left: initial;
      top: initial;
      right: initial;
      bottom: initial;
    }
    .composition__branch {
      left: initial;
      top: 0;
      right: 0;
      bottom: initial;
    }
  }
  #composition-4 {
    width: 808px;
    height: 966px;
  }
  #composition-5 {
    width: 886px;
    height: 918px;
  }
  #composition-6 {
    width: 968px;
    height: 980px;
  }
}
