.custom-icon {
  color: var(--color-orange);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  &::before {
    content: "";
    display: block;
    width: 64px;
    height: 64px;
    object-fit: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none'%3e%3cpath fill='%23fff' d='M30.419.734a2.071 2.071 0 0 1 3.162 0l.044.05c.723.856 1.995.982 2.871.284l.053-.042a2.071 2.071 0 0 1 3.102.617l.032.059a2.071 2.071 0 0 0 2.762.837l.059-.03a2.071 2.071 0 0 1 2.922 1.21l.02.064a2.071 2.071 0 0 0 2.545 1.36l.065-.018a2.071 2.071 0 0 1 2.63 1.757l.007.066a2.071 2.071 0 0 0 2.23 1.83l.067-.005a2.071 2.071 0 0 1 2.237 2.237l-.006.066a2.071 2.071 0 0 0 1.83 2.231l.067.008a2.071 2.071 0 0 1 1.758 2.63l-.019.064a2.071 2.071 0 0 0 1.36 2.544l.064.02a2.071 2.071 0 0 1 1.21 2.923l-.03.06a2.07 2.07 0 0 0 .837 2.76l.059.033c1.12.62 1.415 2.1.617 3.102l-.042.053a2.071 2.071 0 0 0 .283 2.871l.051.044a2.071 2.071 0 0 1 0 3.162l-.05.044a2.071 2.071 0 0 0-.284 2.871l.042.053a2.071 2.071 0 0 1-.617 3.102l-.059.032a2.07 2.07 0 0 0-.837 2.762l.03.059a2.071 2.071 0 0 1-1.21 2.922l-.064.02a2.071 2.071 0 0 0-1.36 2.545l.019.065a2.071 2.071 0 0 1-1.758 2.63l-.066.007a2.071 2.071 0 0 0-1.83 2.23l.005.067a2.071 2.071 0 0 1-2.237 2.237l-.066-.006a2.071 2.071 0 0 0-2.231 1.83l-.008.067a2.071 2.071 0 0 1-2.63 1.758l-.064-.019a2.071 2.071 0 0 0-2.544 1.36l-.02.064a2.071 2.071 0 0 1-2.923 1.21l-.06-.03a2.07 2.07 0 0 0-2.76.837l-.033.059a2.071 2.071 0 0 1-3.102.617l-.053-.042a2.071 2.071 0 0 0-2.871.283l-.044.051a2.071 2.071 0 0 1-3.163 0l-.043-.05a2.071 2.071 0 0 0-2.871-.284l-.053.042a2.071 2.071 0 0 1-3.102-.617l-.032-.059a2.07 2.07 0 0 0-2.762-.837l-.059.03a2.071 2.071 0 0 1-2.922-1.21l-.02-.064a2.071 2.071 0 0 0-2.545-1.36l-.065.019a2.071 2.071 0 0 1-2.63-1.758l-.007-.066a2.071 2.071 0 0 0-2.23-1.83l-.067.005a2.071 2.071 0 0 1-2.237-2.237l.006-.066a2.071 2.071 0 0 0-1.83-2.231l-.067-.008a2.071 2.071 0 0 1-1.757-2.63l.018-.064a2.071 2.071 0 0 0-1.36-2.544l-.064-.02a2.071 2.071 0 0 1-1.21-2.923l.03-.06a2.071 2.071 0 0 0-.837-2.76l-.059-.033a2.071 2.071 0 0 1-.617-3.102l.042-.053a2.071 2.071 0 0 0-.283-2.871l-.051-.044a2.071 2.071 0 0 1 0-3.163l.05-.043c.856-.723.982-1.995.284-2.871l-.042-.053a2.071 2.071 0 0 1 .617-3.102l.059-.032a2.071 2.071 0 0 0 .837-2.762l-.03-.059a2.071 2.071 0 0 1 1.21-2.922l.064-.02a2.071 2.071 0 0 0 1.36-2.545l-.018-.065a2.071 2.071 0 0 1 1.757-2.63l.066-.007a2.071 2.071 0 0 0 1.83-2.23l-.005-.067a2.071 2.071 0 0 1 2.237-2.237l.066.006a2.071 2.071 0 0 0 2.231-1.83l.008-.067a2.071 2.071 0 0 1 2.63-1.757l.064.018a2.071 2.071 0 0 0 2.544-1.36l.02-.064a2.071 2.071 0 0 1 2.923-1.21l.06.03a2.071 2.071 0 0 0 2.76-.837l.033-.059a2.071 2.071 0 0 1 3.102-.617l.053.042a2.071 2.071 0 0 0 2.871-.283l.044-.051Z'/%3e%3c/svg%3e");
  }

  svg {
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    width: 40px;
    height: 40px;
  }
}
