.decorate-element {
  position: absolute;
  width: 944px;
  height: 1226px;
  right: 0;
  top: -265px;
  pointer-events: none;
  svg {
    width: 100%;
  }
}
.decorate-element-2 {
  position: absolute;
  width: 944px;
  height: 1226px;
  top: -295px;
  right: -140px;
}
