.decorate-wave-bottom {
  position: absolute;
  width: 100vw;
  left: 0;
  right: 0;
  bottom: -1px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  background-image: url('../img/wave/bottom.svg');

  /* Сохранение аспектного соотношения */
  height: 0;
  padding-bottom: calc(223px / 1920px * 100vw);

  @media (max-width: 1200px) {
    padding-bottom: calc(135px / 1200px * 100vw);
  }
  @media (max-width: 1023px) {
    padding-bottom: calc(110px / 1023px * 100vw);
  }
  @media (max-width: 767px) {
    padding-bottom: calc(80px / 767px * 100vw);
  }
}

.decorate-wave-top {
  position: absolute;
  width: 100vw;
  top: -1px;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  background-image: url('../img/wave/top.svg');

  /* Сохранение аспектного соотношения */
  height: 0;
  padding-bottom: calc(223px / 1920px * 100vw);

  @media (max-width: 1200px) {
    padding-bottom: calc(135px / 1200px * 100vw);
  }
  @media (max-width: 1023px) {
    padding-bottom: calc(110px / 1023px * 100vw);
  }
  @media (max-width: 767px) {
    padding-bottom: calc(80px / 767px * 100vw);
  }
}
