.label {
  display: block;
  margin: 0;
  color: var(--Red, #ff5843);
  font-family: var(--Lora);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
