.section {
  padding-top: 155px;
  padding-bottom: 155px;
  position: relative;

  &:has(.decorate-wave-bottom) {
    padding-bottom: calc(223px - 35px + 100px);
    & + .section {
      padding-top: 64px;
    }
  }
  &:has(.decorate-wave-top) {
    padding-top: calc(223px - 35px + 100px);
  }
}
