.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, auto);
  max-width: max-content;
  &__link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      transition: all 0.3s ease-in-out;
      pointer-events: none;
      background-color: var(--Orange, #f59829);
      z-index: 0;
      border-radius: 50%;
    }

    svg {
      width: 18px;
      position: relative;
    }
    &.whatsapp::before {
      background-color: #43ad45;
    }
    &.telegram::before {
      background-color: #37AEE2;
    }
    &:hover::before {
      left:-4px;
      top:-4px;
      bottom:-4px;
      right:-4px
    }
  }
}
