.subtitle {
  display: block;
  margin: 0;
  line-height: 1.5;
  color: var(--Dark, #36363c);
  font-family: var(--Lora);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.16px;
  margin-bottom: 34px;
}
