.team {
  // background-color: var(--color-beige);
  position: relative;
  z-index: 2;
  max-width: 100%;
  // overflow: hidden;

  background-color: var(--color-pastel);
    padding: 0;
  &__card {
    position: relative;
  }

  &__photo {
    // position: absolute;
    bottom: 100%;
    img {
      display: block;
      max-width: 100%;
    }
  }
  &__card-details {
    padding-top: 27px;
    padding-bottom: 50px;

    position: relative;
    z-index: 10;
  }
  &__name {
    display: block;
    margin: 0;
    margin-bottom: 2px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: var(--color-dark);
    position: relative;
    z-index: 2;
  }
  &__specialization {
    display: block;
    margin: 0;
    color: var(--color-dark-mod-07);
    position: relative;
    z-index: 2;
    margin-bottom: 5px;
  }
  &__phone {
    display: block;
    text-decoration: none;
    font-weight: 700;
    color: var(--color-dark);
    position: relative;
    z-index: 2;
    margin-bottom: 2px;
  }
  .swiper {
    // overflow: visible;
  }
  .swiper-slide {
    // transform: translateY(-264px);
  }
  .swiper-button {
    top: calc(50% - 12px);
  }
}
