.text-and-button {
  display: grid;
  gap: 32px;
  grid-template-columns: 210px auto;
  align-items: center;

  &__title {
    display: block;
    margin: 0;
    font-family: var(--TenorSans);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: var(--Dark);
  }
  @media (max-width: 1200px) {
    grid-template-columns: 385px auto;
    gap: 50px;
  }

  @media (max-width: 1023px) {
    grid-template-columns: 212px auto;
    gap: 16px;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    gap: 8px;
    text-align: center;
    .button {
      margin: 0 auto;
    }
  }
}
