.wrapper {
  max-width: calc(1408px + 48px + 48px);
  width: 100%;
  padding-inline: 48px;
  margin-inline: auto;

  @media (max-width: 1600px) {
    padding-inline: 32px;
  }

  @media (max-width: 1399px) {
    padding-inline: 48px;
  }
  @media (max-width: 1023px) {
    padding-inline: 40px;
  }
  @media (max-width: 767px) {
    padding-inline: 20px;
  }
}
